.hobbies {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7; /* Fondo ligero */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.hobbies-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #003366;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.hobby-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 60%; /* Ajusta según necesidades */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
}

.hobby-item:hover {
    transform: scale(1.05);
}

.hobby-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #0077b5;
    margin-bottom: 15px;
}

.hobby-image {
    width: 180px; /* Ajusta según necesidades */
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hobby-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #444444;
    text-align: justify;
    line-height: 1.6;
    padding: 0 10px;
}

/* Estilo responsivo para tamaños más pequeños */
@media (max-width: 768px) {
    .hobby-item {
        width: 90%;
    }
}
