/* Footer Styles */
.footer {
  width: 100%;
  background: linear-gradient(135deg, #003366, #004080);
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 0 5px;
}

.social-media {
  display: flex;
  gap: 8px;
}

.social-icon {
  width: 25px;
  height: 25px;
  transition: transform 0.3s, filter 0.3s;
  filter: grayscale(100%);
}

.social-icon:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.footer-bottom {
  margin-top: 15px; /* Aumento del margen superior */
  font-size: 0.9rem; /* Aumento del tamaño del texto */
  color: #cccccc;
  font-weight: bold; /* Aumento del peso de la fuente */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 1px; /* Aumento del espacio entre letras */
}

/* Media Queries */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 8px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }
}
