/* presentacio.css */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

h1 {
    color: #003366; /* Dark blue for a formal and professional look */
    font-size: 2rem; /* Prominent size for the title */
    font-weight: bold; /* Makes the title bold */
    margin: 0;
    margin-bottom: 20px; /* Adds space below the title */
    text-transform: uppercase; /* Uppercase letters for more formality */
    letter-spacing: 2px; /* Increases spacing between letters for sophistication */
}

p {
    color: #2f4f4f;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}
